/* LAYOUT (maquetado) */
html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

#logo {
    margin-top: 10px;
}

header {
    display: flex;
    height: 56px;
}

header, main, footer {
    padding-left: 15%;
    padding-right: 15%;
}

main {
    padding-bottom: 30px;
    flex: 1 0 auto;
}

article {
    width: 27%;
}

.user-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

section {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

footer {
    flex-shrink: 0;
}

/* Estilos generales */

@font-face {
    font-family: "Proxima Nova";
    src: url("proximanova-regular.woff2") format(".woff2");
}

body {
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

header {
    background-color: #fff159;
}

#logo {
    height: 34px;
    width: 134px;
}

.photo {
    border-radius: 50%;
    width: 20px;
}

.user-menu > span {
    font-size: 14px;
    color: #4f4d37;
}

.user_name {
    margin-left: 5px;
}

.help {
    margin-left: 25px;
}

main {
    background-color: #ebebeb;
}

article {
    background-color: #ffffff;
    border-radius: 10px;
    padding:20px;
}
.precio_regular{
    color: #999;
    text-decoration: line-through;
    font-size: 12px;
}
.descuento {
    color: #39b54a;
    font-size: 14px;
    vertical-align: 7px;
}

.precio_descuento {
    font-size: 23px;
}

#features {
    background-color: #f5f5f5;
    border-radius: 6px;
    /* padding-left: 5%; */
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 30px;
}

#features > ul li:before {
    content: '✓';
    color: #3483fa;
    margin-right: 7px;
}

#features > ul > li {
    margin: 10px 0;
    color: #333;
    font-weight: 400;
    font-size: 14px;
}

#features > ul {
    list-style: none;
}

#features > a {
    color: #3483fa;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.3;
    font-size: 14px;
    padding-left: 40px;
}
#features{
    margin-bottom: 30px;
}


#anadir {
    font-weight: 600;
    min-width: 140px;
    font-size: 16px;
    line-height: 1;
    background-color: #3483fa;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    padding: 16px 22px;
    margin-left: 20px;
}

#cancelar {
    background-color: #ebebeb;
    border: 0;
    color: #3483fa;
    font-size: 16px;
    margin-bottom: 2px;
}

footer {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-footer-navigation, a, a:link, .nav-footer-navigation a:visited {
    color: #333;
    text-decoration: none;
    padding: 0 8px;
    border: 0;
    font-size: 13px;
    padding-left: 0px;
}

.nav-footer-copyright, .nav-footer-secondaryinfo {
    color: #999;
    font-size: 12px;
    margin-top: 3px;
}

.nav-footer-copyright {
    margin-top: 6px;
    margin-bottom: 6px;
}

@media screen and (max-width: 600px) {
    .nav-footer-navigation{
        display: none;
    }
    section {
        flex-direction: column;
    }
    article {
        width: 90%;
    }
    body > main > section > article:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 20px;

    }
    #features{
        padding-right: 20px;
    }
    .buttons {
        flex-direction: column;
    }
}